@use "components/Basics" as *;

.credits-intro-container {
  background-image: url("assets/images/svgs/credits-page-bg-top.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  position: relative;
}

.credits-join-us-container {
  background-image: url("assets/images/svgs/credits-page-bg-bottom.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
  margin-top: 100px;
}

.text-container {
  width: 33vw;
  position: absolute;
  left: 12vw;
  top: 12%;
  @include breakpoint-media-max("smtablet") {
    width: 30vw;
    left: 10vw;
    top: 6%;
  }
}

.credits-intro-title {
  max-width: 800px;

  @include breakpoint-media-max("smtablet") {
    @include title(3);
    margin-bottom: 3%;
  }
}

.credits-intro-paragraph {
  max-width: 705px;

  @include breakpoint-media-max("smtablet") {
    @include paragraph(5);
  }
}

.credits-test {
  color: teal;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 500px;
  margin: 2rem 5rem;
}

.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-card-img {
  width: 200px;
  height: 200px;
}