// External Imports
@use "sass:map";

// Internal Imports
@use "../Basics" as *;

/*****************************
*** Notification Bar class ***
*****************************/
$themes: "primary", "success", "warning", "danger";

.notification-bar {
  background-color: $color-tan;
  height: 55px;
}

.notification-bar-x {
  float: right;
}

.notification-bar-fade-appear {
  opacity: 0;
}

.notification-bar-fade-appear-active {
  opacity: 1;
  transition-duration: 500ms;
}

.notification-bar-fade-enter {
  opacity: 0;
}

.notification-bar-fade-enter-active {
  opacity: 1;
  transition-duration: 500ms;
}

.notification-bar-fade-exit {
  opacity: 1;
}

.notification-bar-fade-exit-active {
  opacity: 0;
  transition-duration: 500ms;
}
