// External Imports
@use "sass:map";

// Internal Imports
@use "../Basics" as *;

/*****************************
*** Notification Bar class ***
*****************************/
$themes: "primary", "success", "warning", "danger";

.notification-bar {
  height: 55px;
}

.notification-bar-text {
  flex: 1;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.notification-bar-close img {
  height: 10px;
  width: 10px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.notification-bar-fade-appear {
  opacity: 0;
}

.notification-bar-fade-appear-active {
  opacity: 1;
  transition-duration: 300ms;
}

.notification-bar-fade-enter {
  opacity: 0;
}

.notification-bar-fade-enter-active {
  opacity: 1;
  transition-duration: 300ms;
}

.notification-bar-fade-exit {
  opacity: 1;
}

.notification-bar-fade-exit-active {
  opacity: 0;
  transition-duration: 300ms;
}

/*********************************************
*** Notification Bar classes concerning color themes ***
*********************************************/
$theme-values: (
  "primary": (
    "background-color": #8abbff,
    "color": black
  ),
  "success": (
    "background-color": #72ca9b,
    "color": black
  ),
  "warning": (
    "background-color": $color-tan,
    "color": black
  ),
  "danger": (
    "background-color": #fa999c,
    "color": black
  )
);

@mixin notification-bar-theme($theme) {
  $theme-map: map.get($theme-values, $theme);

  background-color: map.get($theme-map, "background-color");
  color: map.get($theme-map, "color");
}

@each $theme in $themes {
  .notification-bar-#{$theme} {
    @include notification-bar-theme($theme);
  }
}
