// External Imports
@use "sass:map";

// Internal Imports
@use "../Basics" as *;

/*****************************
*** Notification Bar class ***
*****************************/
$themes: "primary", "success", "warning", "danger";

.notification-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification-bar-close {
  cursor: pointer;
  border: none;
  background: none;
  margin-right: auto;
}

.notification-bar-fade-appear {
  opacity: 0;
}

.notification-bar-fade-appear-active {
  opacity: 1;
  transition-duration: 300ms;
}

.notification-bar-fade-enter {
  opacity: 0;
}

.notification-bar-fade-enter-active {
  opacity: 1;
  transition-duration: 300ms;
}

.notification-bar-fade-exit {
  opacity: 1;
}

.notification-bar-fade-exit-active {
  opacity: 0;
  transition-duration: 300ms;
}

.text {
  padding-bottom: 11px;
  text-align: center;
}

/*********************************************
*** Notification Bar classes concerning color themes ***
*********************************************/
$theme-values: (
  "primary": (
    "background-color": #8abbff,
    "color": black
  ),
  "success": (
    "background-color": #72ca9b,
    "color": black
  ),
  "warning": (
    "background-color": $color-tan,
    "color": black
  ),
  "danger": (
    "background-color": #fa999c,
    "color": black
  )
);

@mixin notification-bar-theme($theme) {
  $theme-map: map.get($theme-values, $theme);

  background-color: map.get($theme-map, "background-color");
  color: map.get($theme-map, "color");
}

@each $theme in $themes {
  .notification-bar-#{$theme} {
    @include notification-bar-theme($theme);
  }
}
