.bar {
  background-color: peachpuff;
  padding: 2px;
  position: "sticky";
  z-index: 2;
  transform: translateY(-100%);
}

.slide-in {
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateY(0%);
  }
}
