@use "components/Basics" as *;
@use "components/Buttons" as *;

.landing-container {
  background-image: url("assets/images/svgs/landing-page-bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;

  @include breakpoint-media-max("smtablet") {
    margin-top: 48px;
  }
}

.landing-intro-container {
  background-image: url("assets/images/svgs/landing-page-fg.svg");
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 75vw;

  @include breakpoint-media-max("laptop") {
    background-position: 50% 95%;
  }
}

.landing-intro-title {
  max-width: 800px;

  @include breakpoint-media-max("smtablet") {
    @include title(4);
  }
}

.landing-intro-paragraph {
  max-width: 705px;

  @include breakpoint-media-max("smtablet") {
    @include paragraph(3);
  }
}

.landing-intro-btn {
  @include button-responsive("smtablet", "md");
}

.arrow-down {
  width: 24px;
  @include hidden;

  @include breakpoint-media-max("smtablet") {
    display: inline-block;
  }
}

.landing-mission-container {
  background-color: $color-tan-light;
  flex-direction: column;
  width: 100%;
}

.landing-mission-title {
  @include breakpoint-media-max("smtablet") {
    @include title(5);
  }
}

.landing-mission-paragraph {
  max-width: 800px;

  @include breakpoint-media-max("smtablet") {
    @include paragraph(3);
  }
}
