@use "components/Basics" as *;

.landing-cop-circle-title {
  color: $color-blue-dark;

  .circle-card-button:hover & {
    text-decoration: $color-blue-dark underline;
  }
}

.landing-cop-description {
  max-width: 800px;
}

.landing-cop-circle-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.landing-inner-cop-nav {
  column-gap: 32px;
}

.landing-cop-nav-title {
  inline-size: min-content;

  .inner-cop-nav-card:hover > & {
    text-decoration: underline;
  }
}

.landing-inner-cop-card-content > .inner-cop-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
