@use "components/Basics" as *;
@use "components/Buttons" as *;

.landing-container {
  margin-top: 84px;
  flex-direction: column;

  @include breakpoint-media-max("smtablet") {
    margin-top: 48px;
  }
}

.landing-header-title {
  max-width: 800px;

  @include breakpoint-media-max("smtablet") {
    @include title(4);
  }
}

.landing-head-paragraph {
  max-width: 705px;

  @include breakpoint-media-max("smtablet") {
    @include paragraph(3);
  }
}

.landing-action-btn {
  @include button-responsive("smtablet", "md");
}

.down-arrow {
  width: 24px;
  @include hidden;

  @include breakpoint-media-max("smtablet") {
    display: inline-block;
  }
}

.landing-mission-title {
  @include breakpoint-media-max("smtablet") {
    @include title(5);
  }
}

.landing-mission-paragraph {
  max-width: 800px;

  @include breakpoint-media-max("smtablet") {
    @include paragraph(3);
  }
}
