dev
stage
docs/

# Dependency directories
**/node_modules/
**/__pycache__/

# Docker
*/Dockerfile
*/*.Dockerfile
.dockerignore

# git
.git
.gitignore

# Builds
backend/frontend/static/vite_assets_dist

# vite
frontend/vite.config.*.timestamp-*