node_modules
db.sqlite3
secret_key.txt
dev.env
stage.env
.env
__pycache__
.pytest_cache
.vscode/
*venv/
app/frontend/static/frontend/*
!app/frontend/static/frontend/.gitkeep
app/frontend/templates/frontend/*
!app/frontend/templates/frontend/.gitkeep

**/super-linter.log
app/staticfiles

dev/linter.env
.DS_store
data
.idea

backend/frontend/static/vite_assets_dist