# Environment files
.env
dev.env
stage.env
secret_key.txt
*venv/

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
data
media

# IDEs
.vscode/
.idea
.DS_store

# linters
dev/linter.env
**/super-linter.log

# static build files
backend/frontend_dist
backend/staticfiles