version: "3.8"

services:
  pgdb:
    image: postgres
    container_name: pgdb
    volumes:
      - postgres_data:/lib/postgresql/data
    env_file:
      - ./dev/dev.env

  django:
    build:
      context: ./app
      dockerfile: ../dev/django.dockerfile
    container_name: django
    command: >
      sh -c "python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./app/:/code
    ports:
      - "0.0.0.0:8000:8000"
    env_file:
      - ./dev/dev.env
    depends_on:
      - pgdb

  webpack:
    build:
      context: ./app
      dockerfile: ../dev/webpack.dockerfile
    command: npm run watch
    env_file:
      - ./dev/dev.env
    volumes:
      - ./app/:/code

  linter:
    build:
      context: .
      dockerfile: ./dev/linter.dockerfile
    container_name: linter
    environment:
      - PRE_COMMIT_HOME=${HOME}/.cache/pre-commit
    user: ${UID}:${GID}
    volumes:
      - .:/src:rw
      - ${HOME}/.cache:${HOME}/.cache:rw

volumes:
  postgres_data:
