version: "3.9" # Use the version of Docker Compose that you need

services:
  db:
    image: postgres:16 # Use the latest PostgreSQL image
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=yourusername # Set the username for the PostgreSQL database
      - POSTGRES_PASSWORD=yourpassword # Set the password for the PostgreSQL database
      - POSTGRES_DB=yourdatabase # Set the name of the database
    ports:
      - "5432:5432" # Map the PostgreSQL port to the host
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U yourusername -d yourdatabase"] # Updated to use the correct user and database
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    restart: on-failure:10
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy