@use "sass:map";

@use "../Basics" as *;

@mixin all-buttons {
  border: none;
  display: inline-flex;
  font-weight: bold;
}

@mixin button-size($size) {
  @include all-buttons();

  $heights: (
    "sm": 32px,
    "md": 40px,
    "lg": 48px,
    "icon": 40px,
  );

  height: map.get($heights, $size);
  line-height: map.get($heights, $size);

  @if $size == "sm" {
    @extend .title-7;
    border-radius: 64px;
  } @else if $size == "md" {
    @extend .title-6;
    border-radius: 64px;
  } @else if $size == "lg" {
    @extend .title-5;
    border-radius: 64px;
  } @else if $size == "icon" {
    border-radius: 24px;
  }
}

.btn-sm {
  @include button-size(sm);
  padding: 0px 24px;

  &-long {
    @extend .btn-sm;
    padding: 0px 40px;
  }
}

.btn-md {
  @include button-size(md);
  padding: 0px 32px;

  &-long {
    @extend .btn-md;
    padding: 0px 48px;
  }
}

.btn-lg {
  @include button-size(lg);
  padding: 0px 40px;

  &-long {
    @extend .btn-lg;
    padding: 0px 56px;
  }
}

.btn-icon {
  @include button-size("icon");
  padding: 0px 24px;
}

@mixin button-theme($theme) {
  .btn-#{$theme} {
    @if $theme == "primary" {
      background-color: $color-blue-dark;
      color: $color-white;
    } @else if $theme == "secondary" {
      background-color: $color-blue;
      color: $color-white;
    }

    &.disabled {
      background-color: $color-grey;
      color: $color-grey-light;
    }
  }
}

@include button-theme("primary");
@include button-theme("secondary");
