@use "sass:map";

@use "../Basics" as *;

// Button class for all buttons
.btn {
  border: none;
  display: inline-flex;
  font-weight: bold;
}

// Button classes concerning size
@mixin button-size($size) {
  $heights: (
    "sm": 32px,
    "md": 40px,
    "lg": 48px,
    "icon": 40px,
  );

  .btn-#{$size} {
    height: map.get($heights, $size);
    line-height: map.get($heights, $size);

    // Specific to small buttons
    @if $size == "sm" {
      @extend .title-7;
      border-radius: 64px;
      padding: 0px 24px;
      // long variant
      &-long {
        @extend .btn-#{$size};
        padding: 0px 40px;
      }

      // Specific to medium buttons
    } @else if $size == "md" {
      @extend .title-6;
      border-radius: 64px;
      padding: 0px 32px;
      // long variant
      &-long {
        @extend .btn-#{$size};
        padding: 0px 48px;
      }

      // Specific to large buttons
    } @else if $size == "lg" {
      @extend .title-5;
      border-radius: 64px;
      padding: 0px 40px;
      // long variant
      &-long {
        @extend .btn-#{$size};
        padding: 0px 56px;
      }

      // Specific to icon buttons
    } @else if $size == "icon" {
      border-radius: 24px;
      padding: 0px 24px;
    }
  }
}

@include button-size("sm");
@include button-size("md");
@include button-size("lg");
@include button-size("icon");

// Button classes concerning color themes
@mixin button-theme($theme) {
  .btn-#{$theme} {
    @if $theme == "primary" {
      background-color: $color-blue-dark;
      color: $color-white;
    } @else if $theme == "secondary" {
      background-color: $color-blue;
      color: $color-white;
    }

    &.disabled {
      background-color: $color-grey;
      color: $color-grey-light;
    }
  }
}

@include button-theme("primary");
@include button-theme("secondary");
