@use "sass:map";

@use "../Basics" as *;

@mixin all-buttons {
  border: none;
  display: inline-flex;
  font-weight: bold;
}

@mixin button($size) {
  @include all-buttons();

  $heights: (
    "sm": 32px,
    "md": 40px,
    "lg": 48px,
    "icon": 40px,
  );

  height: map.get($heights, $size);
  line-height: map.get($heights, $size);

  @if $size == "sm" {
    @extend .title-7;
    border-radius: 64px;
  } @else if $size == "md" {
    @extend .title-6;
    border-radius: 64px;
  } @else if $size == "lg" {
    @extend .title-5;
    border-radius: 64px;
  } @else if $size == "icon" {
    border-radius: 24px;
  }
}

.btn-sm {
  padding: 0px 24px;
  @include button(sm);

  &-long {
    padding: 0px 40px;
    @include button(sm);
  }
}

.btn-md {
  padding: 0px 32px;
  @include button(md);

  &-long {
    padding: 0px 48px;
    @include button(md);
  }
}

.btn-lg {
  padding: 0px 40px;
  @include button(lg);

  &-long {
    padding: 0px 56px;
    @include button(lg);
  }
}

.btn-icon {
  padding: 0px 24px;
  @include button("icon");
}

.btn-primary {
  background-color: $color-blue-dark;
  color: $color-white;
}

.btn-secondary {
  background-color: $color-blue;
  color: $color-white;
}