@use "@/components/Basics" as *;

.qualifier-nav {
  background-color: $color-white;
  box-sizing: content-box;
  bottom: 0;
  position: sticky;
  height: 100px;
  opacity: 0.8;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}
