# environment file to configure docker containers

# postgres
POSTGRES_DB=<same as SQL_DATABASE>
POSTGRES_USER=<same as SQL_USER>
POSTGRES_PASSWORD=<same as SQL_PASSWORD>

# Django
ENVIRON=dev
DEBUG=True
SECRET_KEY=<random string of length 50>
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=<same as POSTGRES_DB>
SQL_USER=<same as POSTGRES_USER>
SQL_PASSWORD=<same as POSTGRES_POSTGRES_PASSWORD>
SQL_HOST=pdgb
SQL_PORT=5432
DATABASE=postgres

# Webpack
MODE=development
DEVTOOL=inline-source-map
