{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Civic Tech Jobs</title>
    </head>

    <body>
        <h1>Welcome</h1>
        <p>You are running the CivicTechJobs django server in development mode.</p>
        <p>Go to <a href="http://localhost:5175">http://localhost:5175</a> to see the React frontend in development mode.</p>
    </body>

</html>