// External Imports
@use "sass:map";

// Internal Imports
@use "../Basics" as *;

/***********************************
*** Dialog class for all dialogs ***
***********************************/

.dialog {
  background-color: rgb(0 0 0 / 40%);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-dialog;
}

.dialog-enter {
  transform: translateY(-50%);
  opacity: 0;
}

.dialog-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition-duration: 400ms;
}

.dialog-exit {
  transform: translateY(0%);
  opacity: 1;
}

.dialog-exit-active {
  transform: translateY(50%);
  opacity: 0;
  transition-duration: 400ms;
}
