@use "../../components/Basics/" as *;

.footer-nav {
  background-color: $color-blue-darker;
  height: 128px;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-self: center;
  @include breakpoint-media-max("mobile") {
    height: 226px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.logo-desktop-footer {
  @include breakpoint-media-max("mobile") {
    display: none;
  }
}

.logo-mobile-footer {
  display: none;
  @include breakpoint-media-max("mobile") {
    width: 71px;
    height: 46px;
    display: block;
  }
}

.inner-one {
  margin-left: 176px;
  @include breakpoint-media-max("mobile") {
    margin-left: 0;
    margin-bottom: -17px;
  }
}

.inner-two {
  @include breakpoint-media-max("mobile") {
    margin-left: 0;
    order: 3;
  }
}

.second-div {
  margin-left: auto;
  margin-right: 188px;
  @include breakpoint-media-max("lgtablet") {
    margin-right: 0;
  }
  @include breakpoint-media-max("mobile") {
    margin-left: 0;
    margin-right: 0;
    order: 2;
  }
}

button {
  margin: 5px;
}

.img-menu {
  border: 1px solid white;
  width: 40px;
  height: 0;
  transform: rotate(-90deg);
  margin: auto;
  @include breakpoint-media-max("desktop") {
    &:not(:first-child) {
      display: none;
    }
    &:nth-child(1) {
      display: block;
      left: 0;
      margin-right: 32px;
    }
  }

  @include breakpoint-media-max("smtablet") {
    display: none;
  }
  @include breakpoint-media-max("mobile") {
    width: 20px;
    &:not(:first-child) {
      display: block;
    }
    &:nth-child(1) {
      display: none;
    }
  }
}

a {
  margin: auto;
  color: #fff;
  text-decoration: none;
  margin-right: 32px;
  @include title(6);

  @include breakpoint-media-max("mobile") {
    @include title(7);

    margin-left: 32px;
  }

  &:hover {
    text-decoration: underline;
  }
}
