@use "../../components/Basics/" as *;

.footer-nav {
  background-color: $color-blue-darker;
  height: 128px;
  width: 100%;
  align-items: center;
  @include breakpoint-media-max("laptop") {
    height: 226px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.logo-desktop-footer {
  @include breakpoint-media-max("mobile") {
    @include hidden;
  }
}

.logo-mobile-footer {
  @include hidden;
  @include breakpoint-media-max("mobile") {
    width: 71px;
    height: 46px;
    display: block;
  }
}

.footer-icons-on-dark{
  margin-left: 176px;
  @include breakpoint-media-max("laptop") {
    margin-left: 0;
  }
  @include breakpoint-media-max("mobile") {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -17px;
  }
}

.footer-menu {
  display: flex;
  @include breakpoint-media-max("laptop") {
    margin: 0 auto;
    width: 400px;
    order: 3;
  }
}

.footer-donate-button {
  margin-left: auto;
  margin-right: 188px;
  @include breakpoint-media-max("laptop") {
    margin-left: 0;
    margin-right: 0;
    order: 2;
  }
}

.img-menu {
  border: 1px solid $color-white;;
  width: 40px;
  height: 0;
  transform: rotate(-90deg);
  margin: auto;

  &:not(:first-child) {
    @include hidden;
  }

  &:nth-child(1) {
    display: block;
  }

  @include breakpoint-media-max("laptop") {
    width: 20px;

    &:not(:first-child) {
      display: block;
    }

    &:nth-child(1) {
      @include hidden;
    }
  }
}

.footer-a-tag {
  margin: auto;
  color: $color-white;
  text-decoration: none;
  margin-right: 32px;
  @include title(6);

  @include breakpoint-media-max("mobile") {
    @include title(7);

    margin-left: 32px;
  }

  &:hover {
    text-decoration: underline;
  }
}
