@use "../../components/Basics/" as *;

.footer-nav {
  background-color: $color-blue-darker;
  height: 128px;
  width: 100%;
  bottom: 0;
  display: grid;
  gap: 32px;
  grid-template-areas:
    "third"
    "second"
    "first";
  align-items: center;
  justify-content: center;
  @include breakpoint-media-min("smtablet") {
    grid-template-columns: 27.6% 30.25% 36.66%;
  }
  @include breakpoint-media-max("mobile") {
    gap: 0;
    height: 226px;
  }
}

.inner {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  @include breakpoint-media-min("smtablet") {
    margin-top: 44px;
  }
}

.logo-desktop-footer,
.logo-mobile-footer {
  // using filter property to convert SVG color to white
  filter: invert(98%) sepia(98%) saturate(8%) hue-rotate(167deg)
    brightness(103%) contrast(105%);
}

.logo-desktop-footer {
  @include breakpoint-media-max("mobile") {
    @include hidden;
  }
}

.logo-mobile-footer {
  @include breakpoint-media-min("smtablet") {
    @include hidden;
  }
  @include breakpoint-media-max("mobile") {
    width: 71px;
    height: 46px;
  }
}

// Civic tech job Logo
.inner:nth-child(1) {
  @include breakpoint-media-max("mobile") {
    margin-top: 32px;
  }

  .logo-desktop-footer {
    width: 222px;
    height: 40px;
    margin-left: 176px;
  }
}

// Footer menu items
.inner:nth-child(2) {
  color: #fff;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  @include breakpoint-media-max("mobile") {
    @include title(7);
    height: 20px;
    margin-bottom: 40px;
    width: 230px;
  }

  @include breakpoint-media-min("laptop") {
    @include title(6);
    min-width: 272px;
    height: 22px;
    margin-top: 53px;
  }
}

// Donate button
.inner:nth-child(3) {
  @include breakpoint-media-max("mobile") {
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
  }
}

// first Svf footer line 152 hidden on mobile view
.img-menu:nth-child(1) {
  @include breakpoint-media-max("mobile") {
    display: none;
  }
}

// first SVG footer line visible
.img-menu:not(:first-child) {
  @include breakpoint-media-min("smtablet") {
    display: none;
  }
}
