.header {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  box-shadow: -1px 1px 2px rgb(51 51 51 / 20%);
}

.spacer {
  flex-grow: 1;
}

.backWrap {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.arrow {
  width: 20px;
}

.logo {
  height: 24px;
  width: auto;
}

@media (width >= 769px) {
  .logo {
    height: 32px;
  }
}
