// External Imports
@use "sass:map";

// Internal Imports
@use "../Basics" as *;

/*****************************
*** Notification Bar class ***
*****************************/

.notification-bar {
  background-color: $color-tan;
  height: 55px;
}

.notification-bar-x {
  right: 8px;
  position: absolute;
  top: 8px;
}

.notification-appear {
  opacity: 0;
}

.notification-appear-active {
  opacity: 1;
  transition-duration: 500ms;
}

.notification-enter {
  opacity: 0;
}

.notification-enter-active {
  opacity: 1;
  transition-duration: 500ms;
}

.notification-exit {
  opacity: 1;
}

.notification-bar-fade-exit-active {
  opacity: 0;
  transition-duration: 500ms;
}
