.area {
  width: 4rem;
  height: 8rem;
  font-size: 3rem;
}

.high1 {
  text-align: center;
  margin: 0;
  padding-bottom: 10rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.hcenter {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 17rem;
}

.container {
  height: 100vh;
  width: 100%;
  background: #ecf0f1;
}

.item {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-left: -1rem;

  & > * {
    scroll-snap-align: center;
    margin-left: 1rem;
  }
}
