.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: start;
}

.justify-right {
  justify-content: end;
}

.justify-space {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}
