// Primary Colors
$blue-dark: #3450a1;
$blue-darker: #323d69;
$blue-dark-hover: #445ea9;
$blue-dark-focused: #273c79;

// Primary on Dark Colors
$blue: #44aff1;
$blue-focused: #3fa1de;

// Secondary Colors
$tan: #ffe0b9;
$tan-light: #ffefdb;

// Neutral Colors
$white: #fff;
$grey-light: #f2f2f2;
$grey: #c1c1c1;
$grey-dark: #585858;
$charcoal: #333;
