@mixin title($size) {
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  font-weight: bold;

  @if $size == 1 {
    font-size: 3rem;
    line-height: 3.625rem;
  } @else if $size == 2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  } @else if $size == 3 {
    font-size: 1.75rem;
    line-height: 2.125rem;
  } @else if $size == 4 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  } @else if $size == 5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  } @else if $size == 6 {
    font-size: 1rem;
    line-height: 1.25rem;
  } @else if $size == 7 {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

h1 {
  @include title(1);
}
h2 {
  @include title(2);
}
h3 {
  @include title(3);
}
h4 {
  @include title(4);
}
h5 {
  @include title(5);
}
h6 {
  @include title(6);
}

@mixin paragraph($size) {
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  font-weight: normal;

  @if $size == 1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  } @else if $size == 2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  } @else if $size == 3 {
    font-size: 1rem;
    line-height: 1.25rem;
  } @else if $size == 4 {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  } @else if $size == 5 {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.paragraph-1 {
  @include paragraph(1);
}

.paragraph-2 {
  @include paragraph(2);
}

.paragraph-3 {
  @include paragraph(3);
}

.paragraph-4 {
  @include paragraph(4);
}

.paragraph-5 {
  @include paragraph(5);
}
