// Only visibile to screen readers, but not visully on screen
// Code providd by: https://accessibility.18f.gov/hidden-content/
@mixin sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin hidden {
  display: none;
}

.sr-only {
  @include sr-only;
}

.hidden {
  @include hidden;
}
