.section {
  margin-top: 40px;
}

.title {
  color: var(--color-charcoal);
}

.chips {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
