.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  margin-top: 32px;
  color: var(--color-charcoal);
}

.legend {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-grey-dark);
}

.legendSwatch {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: var(--color-green);
  vertical-align: middle;
}

.tzWrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tzDropdown {
  width: 25%;
  overflow: hidden;
}

.calendar {
  margin-top: 20px;
}
