// Normalize all styles
@use "components/normalize";

// Import basic styles
@use "components/Basics" as *;

// Import component styles
@use "components/Buttons" as *;
@use "components/Cards/CopCards";
@use "components/Cards/CircleCard";
@use "components/Carousel/ScrollCarousel";
@use "components/Navigation" as *;

// Import page styles
@use "pages/Demo/Demo";
@use "pages/landingPage/landingPage";
