// Normalize all styles
@use "components/normalize";

// Import basic styles
@use "components/Basics" as *;

// Import component styles
@use "components/Buttons" as *;
@use "components/Cards" as *;
@use "components/Carousel/ScrollCarousel";
@use "components/Dialog/Dialog";
@use "components/Inputs" as *;
@use "components/Navigation" as *;
@use "components/NotificationBar/NotificationBar_Close";

// Import page styles
@use "pages/Demo/Demo";
@use "pages/LandingPage/" as *;
@use "pages/QualifierPage/" as *;

body {
  font-family: Roboto, Tahoma, Verdana, sans-serif;
}
