// Normalize all styles
@use "components/normalize";

// Import basic styles
@use "components/Basics" as *;

// Import component styles
@use "components/Buttons" as *;
@use "components/Cards/Cards";
@use "components/Cards/CircleCard";
@use "components/Dialog/Dialog";
@use "components/Carousel/ScrollCarousel";
@use "components/Navigation" as *;

// Import page styles
@use "pages/Demo/Demo";
@use "pages/LandingPage/LandingPage";
@use "pages/LandingPage/InnerCopNav";
