// Internal Imports
@use "../Basics" as *;

/**********************************
*** Classes for large COP cards ***
**********************************/
.cop-card-lg {
  background-color: $color-grey-light;
  margin: 8px; // used to go over the box shadow
  max-width: 1088px;
  min-height: 624px;

  &.hidden {
    @include hidden;
  }

  @include breakpoint-media-max("smtablet") {
    @include hidden;
  }
}

.cop-card-lg-x {
  float: right;
}

.cop-card-lg-content {
  padding: {
    top: 56px;
    right: 7.6vw;
    left: 3.4vw;
    bottom: 40px;
  }
}

/**********************************
*** Classes for small COP cards ***
**********************************/
.cop-card-sm {
  background-color: $color-grey-light;
  box-shadow: 0 8px 8px rgb(0 0 0 / 25%);
  margin: 8px;
  max-width: 312px;
  min-height: 600px;

  &.hidden {
    @include hidden;
  }

  @include breakpoint-media-min("lgtablet") {
    @include hidden;
  }
}

.cop-card-sm-x {
  float: right;
}

.cop-card-sm-content {
  padding: {
    top: 74px;
    right: 6.4vw;
    left: 6.4vw;
  }
}
