@use "../Basics" as *;

.card {
  border-radius: 16px;
}

.inner-cop-card {
  background-color: $color-white;
  box-shadow: 0 8px 8px rgb(0 0 0 / 25%);
  max-width: 625px;
  min-height: 448px;
}

.inner-cop-card-content {
  padding: {
    top: 48px;
    right: 3.3vw;
    left: 3.3vw;
  }
}
