@use "../Basics/" as *;

/***************************
*** Classes for Checkbox ***
***************************/
.checkbox {
  align-items: center;
  border-radius: 50%;
  display: flex;
  width: fit-content;
}
