// External Imports
@use "sass:color";

// Internal Imports
@use "../Basics/" as *;

/***************************
*** Classes for checkbox ***
***************************/
.checkbox {
  align-items: center;
  display: flex;
  width: fit-content;
}

.checkbox-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.checkbox-icon:not(.checkbox-icon-disabled):hover {
  background-color: color.change($color-blue-dark, $alpha: 0.16);
}

.checkbox-icon-enter {
  background-color: pink;
}

.checkbox-icon-enter-active {
  background-color: pink;
}

.checkbox-icon-exit {
  background-color: pink;
}

.checkbox-icon-exit-active {
  background-color: pink;
}
