// Internal Imports
@use "../Basics/" as *;
@use "./ProtoInput" as *;

.dropdown {
  @include input;
  @include empty-right-border;
  appearance: none;
  flex: 1;
  z-index: $z-focus;
}

.dropdown-item {
  color: green;
}
