// Internal Imports
@use "../Basics/" as *;

/****************************
*** Classes for prototype ***
****************************/

@mixin input {
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: 8px;
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  padding: 13px 16px;
}

@mixin empty-right-border {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

@mixin empty-left-border {
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.input-icon-left {
  @include input;
  @include empty-right-border;
}

.input-icon-right {
  @include input;
  @include empty-left-border;
}
