@use "@/components/Basics" as *;

.box {
  border: 1px solid red;
  height: 50px;
  overflow: hidden;
}

.demo-chevron-scroll-btn {
  scroll-snap-align: start;
  border: 1px solid #333;
  height: 42px;
  padding: 0 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 137%;
  border-radius: 64px;
  background-color: #fff;
  white-space: nowrap;
}
