@use "components/Basics" as *;

body {
    font-family: Roboto;
}

.red {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-align: center;

    @include breakpoint-media-min(mobile) {
        color: blue
    }

    @include breakpoint-media-min(smtablet) {
        color: green
    }

    @include breakpoint-media-min(lgtablet) {
        color: yellow
    }

    @include breakpoint-media-min(laptop) {
        color: orange
    }

    @include breakpoint-media-min(desktop) {
        color: red
    }
}