// Normalize all styles
@use "@/components/normalize";

// Import basic styles
@use "@/components/Basics" as *;

// Import component styles
@use "@/components/Buttons" as *;
@use "@/components/Carousel/ScrollCarousel";
@use "@/components/Dialog/Dialog";
@use "@/components/Inputs" as *;
@use "@/components/Notification/Notification";
@use "@/components/Transition/Wrapper";
@use "@/components/Scroll/ChevronScroll";

// Import page styles
@use "@/pages/Demo/Demo";
@use "@/pages/NotFoundPage/NotFoundPage";
@use "@/pages/LandingPage" as *;
@use "@/pages/QualifierPage" as *;

body {
  font-family: Roboto, Tahoma, Verdana, sans-serif;
}
