// Normalize all styles
@use "components/normalize";

// Import basic styles
@use "components/Basics" as *;

// Import component styles
@use "components/Buttons" as *;
@use "components/Cards/Cards";
@use "components/Carousel/ScrollCarousel";
@use "components/Navigation/HeaderNav";
@use "components/Navigation/InnerCopNav";
@use "components/Navigation/FooterNav";

// Import page styles
@use "pages/Demo/Demo";
@use "pages/landingPage/landingPage";
