@use "components/normalize";
@use "components/Basics" as *;

body {
    font-family: Roboto;
}

.red {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;

    @include breakpoint-media-min(mobile) {
        color: $color-grey-dark
    }

    @include breakpoint-media-min(smtablet) {
        color: $color-grey
    }

    @include breakpoint-media-min(lgtablet) {
        color: $color-tan
    }

    @include breakpoint-media-min(laptop) {
        color: $color-blue
    }

    @include breakpoint-media-min(desktop) {
        color: $color-blue-dark
    }
}