// Primary Colors
$blue-dark: #3450A1;
$blue: #44AFF1;

// Secondary Colors
$white: #FFFFFF;
$tan: #FFE0B9;
$tan-light: #FFEFDB;

// Neutral Colors
$grey-light: #F2F2F2;
$grey: #C1C1C1;
$grey-dark: #585858;
$charcoal: #333333;