// External Imports
@use "sass:list";
@use "sass:map";

// Internal Imports
@use "./breakpoints" as bp;
@use "./spacing" as *;

/******************************************
*** Container class to create a flexbox ***
*******************************************/
.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

/******************
*** Row classes ***
******************/

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
}

/*************************************
*** Column classes for column size ***
*************************************/
$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@mixin col-size($col) {
  box-sizing: border-box;
  flex: 0 1 calc(8.33% * #{$col});

  @each $name in map.keys($margin-abbrs) {
    @each $size in $spacing-sizes {
      &.#{$name}-#{$size} {
        // recalculates column size to accomodate margins
        @if (list.index("mx" "my" "px" "py", $name)) {
          flex: 0 1 calc(8.33% * #{$col} - #{$size} * 16px);
        } @else {
          flex: 0 1 calc(8.33% * #{$col} - #{$size} * 8px);
        }
      }
    }
  }
}

@each $col in $columns {
  .col-#{$col} {
    @include col-size($col);
  }
}

/***********************************************
*** Column classes concerning responsiveness ***
************************************************/

@mixin col-responsive($device, $col) {
  @include bp.media-max($device) {
    @include col-size($col);
  }
}
