.title-1 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
}

.title-2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}

.title-3 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}

.title-4 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.title-5 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.title-6 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.title-7 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.paragraph-1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
}

.paragraph-2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}

.paragraph-3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.paragraph-4 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
}

.paragraph-5 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}