# postgres
POSTGRES_DB=<database name>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>

# Django
ENVIRON=stage
DEBUG=False
SECRET_KEY=<random key of length 50 or more>
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=<database name>
SQL_USER=<postgres db username above>
SQL_PASSWORD=<postgres db password above>
SQL_HOST=pgdb
SQL_PORT=5432
DATABASE=postgres
