@use "components/Basics/" as *;

.qcalendar-content {
  flex-wrap: nowrap;
  width: fit-content;
}

.qcalendar-green-square {
  background-color: $color-green;
  border-radius: 2px;
  display: inline-block;
  height: 24px;
  line-height: 30px;
  width: 24px;
}

.qcalendar-dropdown {
  width: 100%;
}

.qcalendar-nav {
  justify-content: space-between;
}
