# Credit for code: https://github.com/mkdocs/mkdocs/discussions/2369#discussioncomment-625475
name: Build MkDocs site

on:
  push:
    branches:
      - main
    paths:
      - "mkdocs/**/**.md"
      - "mkdocs/mkdocs.yml"
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install mkdocs
        uses: actions/setup-python@v3
      - name: Publish docs
        run: |
          pip install --upgrade pip && pip install setuptools mkdocs
          python mkdocs/mkdocs-config/setup.py develop
          git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
          cd mkdocs
          cd mkdocs-config
          python setup.py develop
          cd ..
          mkdocs gh-deploy
