name: Build MkDocs site (develop)

on:
  push:
    branches:
      # TODO: change to main when we merge develop to main
      - develop
    paths:
      - "mkdocs/**/**.md"
      - "mkdocs/mkdocs.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install Dependencies
        run: pip install \
          mkdocs-material==9.1.17 \
          mkdocs-autolinks-plugin==0.7.1
      - name: Publish docs
        run: |
          cd mkdocs
          mkdocs gh-deploy --force
