.outerContainer {
  white-space: nowrap;
  display: flex;
  width: 1088px;
  height: 47px;
}

.childContainer {
  scroll-snap-type: x mandatory;
  overflow: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  scrollbar-width: none;
}

.childContainer::-webkit-scrollbar {
  display: none;
}

.leftBtn {
  background-color: var(--color-white);
  padding: 0 32px 0 15px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBtn {
  background-color: var(--color-white);
  padding: 0 15px 0 32px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.clearBtn {
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-weight: var(--weight-bold);
  font-size: 20px;
  color: var(--color-charcoal);
  margin-left: 16px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
